
 body{margin:0px;
    padding:0px;
     background-image:url(curtain.jpg);
 height:100vh;
 background-size:cover;
 background-position:center;
 
 
    align-items: center;
   
    
  
    }

#wr{
  color:white;
  text-align:center;
}

.box{
  background-color: yellow;
  
  border: 1px solid white; ;
  
    cursor:pointer;
    width:60px;
    height:60px;
}
.box:hover{
  opacity:0.2;
}
    
  #container {
      margin:auto;
    display: flex;
    flex-wrap: wrap;
align-items:center;
justify-content:center;

    border: 5px solid orange;
    height: 620px;
    width: 620px;}
    .selected{
      background-color:red;
  }
